# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/

# Maven
target/

# Local SDK config
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# macOS
.DS_Store

# Logs
*.log
# VS Code settings
.vscode/

# Firebase private credentials
firebase-service-account.json

